@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Poppins:wght@300&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0b0b;
  color: white;
  font-family: "ABeeZee", sans-serif;
}
.line {
  background-color: rgba(127, 126, 126, 0.845);
  height: 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
.button {
  width: 90px;
  border-radius: 15px;
  outline: none;
  border: none;

  background-color: blue;
  color: white;
  height: 100%;
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}
.signout {
  width: 90px;
  margin-left: 90%;
  height: 30px;
}

.text {
  margin-bottom: 20px;
  margin-top: 20%;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 500px;
}
